:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	font-family: 'Press Start 2P', system-ui;
	font-style: normal;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	display: grid;
	place-content: center;
}

.container {
	position: relative;

	.health-bar-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;

		.timer {
			color: #fff;
			width: 10%;
			height: 3rem;
			background-color: #000;
			text-align: center;
			line-height: 2.75rem;
			font-size: 1rem;
			border: 4px white solid;
		}

		.health-bar-container-secondary {
			position: relative;
			box-sizing: border-box;
			width: 45%;
			border: 4px white solid;

			&:has(.player) {
				border-right: 0px;
			}

			&:has(.enemy) {
				border-left: 0px;
			}

			.health-bar {
				width: 100%;
				height: 1.5rem;
				background-color: #dc2626;
				transition: width 0.5s ease-in-out;

				&.player,
				&.enemy {
					position: absolute;
					top: 0;
					background-color: #a5b4fc;
					z-index: 2;
				}
				&.enemy {
					right: 0;
				}
			}
		}
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;

		.popup {
			display: none;
			color: white;
			height: 8rem;
			width: 18rem;
			background: rgba(220, 38, 38, 0.8);
			text-align: center;
			line-height: 8rem;
			border: 4px white solid;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
			font-size: 1rem;

			#replay-btn {
				cursor: pointer;
			}
		}

		.display-player-controls {
			display: none;
			color: white;
			width: auto;
			background: rgba(220, 38, 38, 0.8);
			text-align: center;
			border: 4px white solid;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
			font-size: 1rem;
			line-height: 1.5rem;
			z-index: 10;
			.controls {
				display: flex;
				display: flex;
				justify-content: space-between;
				gap: 1rem;

				li {
					list-style: none;
				}
			}
			button {
				cursor: pointer;
				padding: 0.5rem 1rem;
				background-color: transparent;
				color: white;
				border: 4px white solid;
				margin-block: 1rem;
			}
		}
	}
}
